
body {
    text-align: left;
  
    background-color: #f2f8fe;
}

.body-stand {
    font-size: 0.8rem;
}
#radio, #radio2, #radio3, #radio4
{
    padding-bottom:1em;
}

.label-success, .label-danger
{
    text-align: left;
    white-space: normal;
    line-height: 2em;
}

input
{
    color: #000;
}

.navbar
{
    background-color:#094582;
    font-size: 1rem;
    
}

.navbar-dark .navbar-nav .active > .nav-link {
    color: #094582;
}

.navbar-brand {
    color: #fff !IMPORTANT;
    padding: 0px;
}

.navbar-brand a:hover
{ 
    color:yellow !IMPORTANT;
}

.navbar-inverse .navbar-nav>li>a
{
    color:#fff;
}

.navbar-inverse .navbar-nav>li>a:hover
{
    color:yellow;
}

.navbar-brand-logout
{
    font-size:14px;
}

.active {
    background-color: #fff;
    border-radius: 0.5rem;
}
.row
{
    padding-bottom: 5px;
}

/*ticket system css*/

.minwidth {min-width: 15px;
           width: 15px;
}

.stair {
    border: 1px solid #fff;
    background-image: linear-gradient(180deg, #ffffff 25%, #000000 25%, #000000 50%, #ffffff 50%, #ffffff 75%, #000000 75%, #000000 100%);
    background-size: 100% 100%;
  
}
.directors {
    border: 1px solid #000;
    background-color: #aaa;
   
}
.hospitality {
    border: 1px solid #000;
    background-color: #aaa;
}
.disabled {
    border: 1px solid #000;
    background-color: #ccc;
}

.available {
    border: 1px solid #000; 
    color: #fff; 
    cursor: pointer;}

.unavailable {
    border: 1px solid #000;   
    background-color: #000;
}
.selected {
    border: 1px solid #000;
    background-color: green!important;
}
.selectedsold {
    border: 1px solid #000;
    background-color: green !important;
}
.selectedprov {
    border: 1px solid #000;
    background-color: green !important;
}
.selectedother {
    border: 1px solid #000;
    background-color: #b3d9ff !important;
}
.press {
    border: 1px solid #000;
    background-color: #aaa;
}
.provisional {
    border: 1px solid #000;
    background-color: orange;
    color: orange;
    cursor: pointer;
}
.sold {
    border: 1px solid #000;
    background-color: red;
    color: red;
    cursor: pointer;
} 
 .adult {
    border: 1px solid #000;
    background-color: red;
    color: red;
}
.concession {
    border: 1px solid #000;
    background-color: red;
    color: red;
}
.juniorblue {
    border: 1px solid #000;
    background-color: red;
    color: red;
}
.student {
    border: 1px solid #000;
    background-color: red;
    color: red;
}
.shirtdraw {
    border: 1px solid #000;
    background-color: red;
    color: red;
}
.comp {
    border: 1px solid #000;
    background-color: red;
    color: red;
}
.savesuccess {
    background-color: #ccffb3;
}
.savefail {
    background-color: #ff8080;
}


.bottomsticky {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #094582;
    border: 1px solid #094582;
    border-radius: 10px 10px 0 0;
    padding: 1rem;
    z-index: 999;
}
    .bottomsticky .card-body {
        padding-top: 0.5rem;
    }

input[type="checkbox"] {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    cursor: pointer;
}

*[id^='checklabel'] {
    width: 100%;
    /*background-color: #fff;*/
    display: block;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

input[type="checkbox"]:checked + label {
    background-color: green !IMPORTANT;
    color: green !important;
    cursor: pointer;
}


.card-body {
    padding-top: 0.5rem;
}
.PNSelect {
    margin-top : 1rem;
}
.clickable {
    cursor: pointer;
}


.form-control {
    font-size : 0.8rem;
}

.background-white{
    background-color: #fff;
}

.background-darkblue {
    background-color: #052342;
    color: #fff;
}
.background-green {
    background-color: #28a745;
    color: #fff;
}
/*.badge {
    font-size: 1rem!important;
    border-radius: 1rem!important;
}*/
.badge-circle {
    padding: 0.6em;
    border-radius: 50% !important;
}
.badge-dash1 {
    font-size: 2rem !important;
    min-width: 70px;
}
.badge-dash2 {
    font-size: 1.75rem !important;
    min-width: 60px;
}
.badge-small {
    font-size: 1rem;
    min-width: 40px;
}
.offcenter {
    padding-left: 30%;
}
.offright {
    margin-right: 5%;
}

.text-outline {
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

