<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- TicketCo public API token. SECURITY: this value lives in git history;
         rotate it with TicketCo and, ideally, move it out of Web.config using
         a file reference: <appSettings file="secrets.config"> with secrets.config
         kept OUT of source control. -->
    <add key="TicketcoApiToken" value="nk6t4EzmDNuB3vAZ1gMy" />

    <!-- Fixture/event currently on the dashboard. Used as the default when the
         poller starts and when dash_control does not supply one. -->
    <add key="TicketcoActiveEventId" value="924084" />

    <!-- Seconds between API polls (minimum enforced in code is 5). -->
    <add key="TicketcoPollSeconds" value="30" />

    <!-- true  = start polling automatically at app startup (no browser needed).
         false = only poll when dash_control.aspx presses Start. -->
    <add key="TicketcoAutoStart" value="false" />
  </appSettings>

  <connectionStrings>
    <add name="QosTickets" connectionString="Data Source=87.106.150.130;port=3306;Initial Catalog=qosfctickets;User Id=qosfclivedb;password=P@ssword1919" />
    <add name="WHFRP" connectionString="Data Source=87.106.150.130;port=3306;Initial Catalog=WHFRP;User Id=qosfclivedb;password=P@ssword1919" />
    <add name="QOSLive" connectionString="Data Source=87.106.150.130;port=3306;Initial Catalog=qosfclivecopy;User Id=qosfclivedb;password=P@ssword1919" />
    
    
    
    

    
  </connectionStrings>


    
  
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <customErrors mode="Off" />

<globalization culture="en-GB" uiCulture="en-GB" />

    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="30" defaultUrl="default.aspx" cookieless="AutoDetect">
        <credentials passwordFormat="Clear">
          <user name="Andy" password="Pburns29" />
          <user name="Dan" password="P@ssTMS" />
          <user name="Eric" password="COVIDfans" />
          <user name="Stacey" password="Office1" />
          <user name="Ewan" password="COVID" />
          <user name="Phil" password="COVIDplan" />
          <user name="Kevin" password="Groundskeeper" />
          <user name="Mark" password="COVID" />
          <user name="admin" password="admin" />
          
          
        </credentials>
      </forms>
    </authentication>

    <!--<authorization>
      <allow users="*" />
    </authorization>-->    
    
  </system.web>

  <location path="default.aspx">
    <system.web>
      <authorization>
        <allow users="Andy" />
        <allow users="Dan" />
        <allow users="Eric" />
        <allow users="Ewan" />
        <allow users="Stacey" />
        <allow users="Phil" />
        <allow users="Kevin" />
        <allow users="Mark" />
        <allow users="admin" />
        
 
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!--<location path="ballot_entry.aspx">
    <system.web>
      <authorization>




        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <!--<location path="signalr/hubs">
    <system.web>
      <authorization>




        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  
  <location path="chathubnewrestricted.vb">
    <system.web>
      <authorization>




        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->

  <location path="admin_walkup.aspx">
    <system.web>
      <authorization>
        <allow users="Andy" />
        <allow users="Dan" />
        <allow users="Eric" />
        <allow users="Ewan" />
        <allow users="Stacey" />
        <allow users="Phil" />
        <allow users="Kevin" />
        <allow users="Mark" />
        <allow users="admin" />

        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="fixtureselect.aspx">
    <system.web>
      <authorization>
        <allow users="Andy" />
        <allow users="Dan" />
        <allow users="Eric" />
        <allow users="Ewan" />
        <allow users="Stacey" />
        <allow users="Phil" />
        <allow users="Kevin" />
        <allow users="Mark" />
        <allow users="admin" />

        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="ballot_list.aspx">
    <system.web>
      <authorization>
        <allow users="Andy" />
        <allow users="Dan" />
        <allow users="Eric" />
        <allow users="Ewan" />
        <allow users="Stacey" />
        <allow users="Phil" />
        <allow users="Kevin" />
        <allow users="Mark" />
        <allow users="admin" />

        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="stand.aspx">
    <system.web>
      <authorization>
        <allow users="Andy" />
        <allow users="Dan" />
        <allow users="Eric" />
        <allow users="Ewan" />
        <allow users="Stacey" />
        <allow users="Mark" />
        <allow users="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="newstand.aspx">
    <system.web>
      <authorization>
        <allow users="Andy" />
        <allow users="Dan" />
        <allow users="Eric" />
        <allow users="Ewan" />
        <allow users="Stacey" />
        <allow users="Mark" />
        <allow users="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="newstandrestricted.aspx">
    <system.web>
      <authorization>
        <allow users="Andy" />
        <allow users="Dan" />

        <allow users="Ewan" />
     
        <allow users="Phil" />
        <allow users="Kevin" />
        <allow users="Mark" />
        <allow users="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="terrace.aspx">
    <system.web>
      <authorization>
        <allow users="Andy" />
        <allow users="Dan" />
        <allow users="Eric" />
        <allow users="Ewan" />
        <allow users="Stacey" />
        <allow users="Mark" />
        <allow users="admin" />
        
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="2021all.aspx">
    <system.web>
      <authorization>
        <allow users="Andy" />
        <allow users="Dan" />
        <allow users="Eric" />
        <allow users="Ewan" />
        <allow users="Stacey" />
        <allow users="Phil" />
        <allow users="Mark" />
        <allow users="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="NotifyHandler.aspx" allowOverride="true" inheritInChildApplications="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.webServer>

    <httpErrors errorMode="Detailed" />

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    
    
    <rewrite>
      <rules>
        <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>

            <rule name="Rewrite entry form">
              <match url="^ballot-entry" />
              <action type="Rewrite" url="ballot_entry.aspx" />
            </rule>

        <rule name="Rewrite walkupadmin">
          <match url="^walkup" />
          <action type="Rewrite" url="admin_walkup.aspx" />
        </rule>

        <rule name="Rewrite root">
          <match url="^$" />
          <action type="Rewrite" url="admin_walkup.aspx" />
        </rule>

        <rule name="Rewrite admin home">
          <match url="^home" />
          <action type="Rewrite" url="default.aspx" />
        </rule>
        
        
      </rules>
    </rewrite>
  </system.webServer>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
